.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
}

.cat {
    width: 500px;
    height: 500px;
}

.text {
    font-size: 48px;
    color: white;
}